header{
    background-color: lightskyblue;
    height: 50px;
    display: flex;
    align-items: center;    
}

p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: medium;
    margin-left: 25px;
    margin-top: 5px;
}