<button mat-flat-button color="primary" (click)="addStudent()" style="margin: 0 0 10px 0"> Añadir alumno </button>   

<P>hola soy una tabla bugeada por favor liberenme de esta miseria.
    Ahora me doy cuenta que el boton arriba mio tampoco tiene estilos de material. rari
</P>

<!-- <table mat-table [dataSource]="students">
    

    <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> ID. </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>
    <ng-container matColumnDef="firstName">
        <th mat-header-cell *matHeaderCellDef> Nombre </th>
        <td mat-cell *matCellDef="let element"> {{element.firstName}} </td>
    </ng-container>
    <ng-container matColumnDef="lastName">
        <th mat-header-cell *matHeaderCellDef> Apellido </th>
        <td mat-cell *matCellDef="let element"> {{element.lastName}} </td>
    </ng-container>
    <ng-container matColumnDef="isActive">
        <th mat-header-cell *matHeaderCellDef> Activo </th>
        <td mat-cell *matCellDef="let element"> {{element.isActive}} </td>
    </ng-container>
    <ng-container matColumnDef="edit">
        <th mat-header-cell *matHeaderCellDef> Editar </th>
        <td mat-cell *matCellDef="let element"> 
            <button (click)="editStudent(element)" mat-icon-button color="primary">
                <mat-icon>edit</mat-icon>
            </button>    
        </td>
    </ng-container>
    <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef> Eliminar </th>
        <td mat-cell *matCellDef="let element"> 
            <button (click)="removeStudent(element)" mat-icon-button color="warn">
                <mat-icon>delete</mat-icon>
            </button> 
        </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table> -->

