<body>
    <div>
       <div class="wave"></div>
       <div class="wave"></div>
       <div class="wave"></div>
    </div>

<!-- ESTE VA A SER EL LOGIN CUANDO ARREGLE LO DE MATERIAL -->

    <div mat-dialog-content class="login-form">
        <b>Hola de nuevo!</b>
        <form [formGroup]="loginForm">
            <mat-form-field appearance="fill">
                <mat-label>Correo o Usuario</mat-label>
                <input [formControl]="usernameControl" matInput placeholder="">
            </mat-form-field>
            <br>
            <mat-form-field appearance="fill">
                <mat-label>Contraseña</mat-label>
                <input [formControl]="passwordControl" matInput placeholder="">    
            </mat-form-field>
            <br>
        </form>
        <button mat-flat-button><a href="/estudiantes">Aceptar</a></button> <!-- Se que no es routing como tal pero hasta que tenga verificación de usuario sirve -->
    </div>
</body>

